+font-face("HelveticaNeueBlack", "./media/fonts/HelveticaNeueBlack/HelveticaNeueBlack", $file-formats: eot woff ttf)
+font-face("HelveticaNeueRoman", "./media/fonts/HelveticaNeueRoman/HelveticaNeueRoman", $file-formats: eot woff ttf)
+font-face("HelveticaNeueThin", "./media/fonts/HelveticaNeueThin/HelveticaNeueThin", $file-formats: eot woff ttf)

%black
	font-family: "HelveticaNeueBlack", $helvetica
%roman
	font-family: "HelveticaNeueRoman", $helvetica
%thin
	font-family: "HelveticaNeueThin", $helvetica